<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" parallel="tests" thread-count="1">
	<listeners>
		<listener class-name="listeners.TestNG_Listener" />
	</listeners>
	<parameter name="browser" value="Edge"></parameter>
	<test name="EdgeTest" preserve-order="true">
		<classes>
			<class name="com.fb.Testcases.RegisterTest" />
		</classes>
	</test>

	<parameter name="browser" value="Chrome"></parameter>
	<test name="ChromeTest" preserve-order="true">
		<classes>
			<class name="com.fb.Testcases.RegisterTest" />
		</classes>
	</test>

</suite>